.App {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App-logo {
  height: 100px;
  margin-right: 20px;
}

.header-menu {
  min-height: 20vh;
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: #282c34;
  align-items: center;
  justify-items: center;
  margin: 20px;
}

.header-menu-right {
  display: flex;
  padding: 20px;
}

.header-menu-right > article {
  background-color: #282c34;
  
  width: 120px;
 height: 25px;
 border-radius: 20px;
 padding: 5px;
 margin: 20px;
 text-align: center;
}

.header-menu-right a  {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

#search-bar {
  border-radius: 20px;
  height: 35px;
  width: 250px;
  border: 1px solid lightgray;
  padding: 10px;
  margin: 20px;
}

.info-section {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 40px;
}

.info-card {
  width: 250px;
  height: auto;
  padding: 20px;
  text-align: center;
}

.thumbnail {
  object-fit: cover;
  box-sizing: border-box;
  margin-left: 25px;
}